body {
  font-size: 100%;
  line-height: 140%;
  font-family: Georgia, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  border-top: 5px solid #000;
}

a {
  color: #7f0000;
  text-decoration: none;
}

textarea,
input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  font-size: 12px;
}
.form-item label {
  font-weight: normal;
}

#page {
  width: 900px;
  margin: 0 auto;
}

#header {
  padding: 30px 0 10px;
  border-bottom: 1px dashed #999;
  clear: both;
  overflow: hidden;
}
#header a {
  color: #000;
  text-decoration: none;
}
#header #logo-title {
  float: left;
}
#header h1 {
  font-weight: normal;
  font-size: 28px;
  display: inline;
}
#header div.beta-marker {
  display: inline;
  color: #7f0000;
  font-size: 12px;
  margin-left: -3px;
}
#header #navigation {
  float: right;
  margin-top: 4px;
}

#main h1.title {
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: normal;
}

.protocol .right {
  width: 700px;
}
.protocol .reagent {
  width: 200px;
  height: 40px;
  float: left;
}
.protocol .section-reagent {
  clear: both;
  overflow: hidden;
}

body .button-wrapper-outer { /* generic container (i.e. div) for floating buttons */
  overflow: hidden;
  display: block;
}
.button-wrapper {
  background: transparent url('bg_button_a.gif') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}
.button-wrapper input {
  border: 0;
  margin: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  background: transparent url('bg_button_span.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}
.button-wrapper:active {
  background-position: bottom right;
  color: #000;
  outline: none; /* hide dotted outline in Firefox */
}
.button-wrapper:active input {
  background-position: bottom left;
  padding: 6px 0 4px 18px; /* push text down 1px */
}

.content-multiple-table tbody,
.content-multiple-table thead,
.content-multiple-table th,
.content-multiple-table tr {
  border: 0;
  background-color: #fff;
}
.content-add-more {
  margin-bottom: 30px;
  margin-top: 10px;
}

.overlay-outer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
.overlay-wrapper h2 {
  margin: 0;
  padding: 0;
}
.overlay-wrapper {
  position: fixed;
  top: 100px;
  width: 100%;
  height: 100%;
}
.overlay-inner {
  padding: 30px;
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
}
body.overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#protocol-base-bookmark-form #edit-name {
  display: none;
}

div#search .button-wrapper-outer,
#edit-search-theme-form-1-wrapper {
  float: left;
  overflow: visible;
  display: block;
  margin: 0;
}
div#search .button-wrapper {
  margin-top: 10px;
  margin-left: 20px;
}

.protocol-home {
  font-size: 24px;
  margin-top: 40px;
}
.protocol-home li {
  clear: both;
  margin-top: 40px;
}
.protocol-home div#search {
  overflow: hidden;
  clear: both;
  margin-top: -26px;
}
#edit-search-theme-form-1 {
  font-size: 20px;
  width: 350px;
}

div.user-page h3 {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}
div.user-page div.item-list {
  font-size: 16px;
  width: 200px;
  margin-right: 20px;
  float: left;
}
div.user-page div.item-list li,
div.user-page div.item-list ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}